*
{
    
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: red;
    justify-content: center;
    align-items: center;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 800px)
{
    .container
    {
        gap: 0rem;
    }
}

h1
{
    margin: 0;
}

.container-header
{
    margin: 1rem;
}

.container-header h1
{
    font-size: 5rem;
}

@media(max-width: 800px)
{
    .container-header h1
    {
        font-size: 3rem;
    }
}

.container-text p
{
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

@media(max-width: 800px)
{
    .container-text p
    {
        font-size: 2rem;
    }
}

.container-button, .reset-button-container
{
    display: flex;
    gap: 2rem;
}

.reset-button-container
{
    justify-content: center;
}

button
{
    border-radius: 10px;
    height: 14rem;
    width: 14rem;
    font-size: 4rem;
    border: 1px solid darkred;
    background-color: black;
    color: red;
    transition: all .2s ease-in-out;
}

@media (max-width: 800px)
{
    button
    {
        height: 8rem;
        width: 8rem;
        font-size: 2rem;
    }
}

button:hover
{
    box-shadow: 0px 0px 0.5rem 0.5rem rgb(117, 1, 1);
    border: 1px solid black;
    background-color: red;
    color: black;
    transform: scale(1.1);
}

.container-text
{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
}

#game-text
{
    font-size: 4rem;
    text-align: center;
}

@media (max-width: 800px)
{
    #game-text
    {
        font-size: 2rem;
    }
}